* {
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}

body {
   
    background-image: URL("/img/onepiece.jpg");
    background-size:cover;
}

header {
    background-color:rgba(127, 255, 212, 0.653);
    padding:40px;
    box-shadow:2px 3px 2px 3px rgba(0, 0, 0, 0.678);
    margin-bottom:90px;
}

header h1 {
    text-align:center;
    color:white;
    text-shadow:1px 2px black;
}

div#principal {
    background-color:gray;
    width: 350px;
    height: 400px;
    margin:auto;
    
    
}

#visor {
    padding:10px;
    width:300px;
    margin-top:20px;
    margin-left:10px;
    }

    div.botao input {
        padding:20px;
        
    }